/* Neo-brutalist Utilities */

.neo-shadow {
    box-shadow: 5px 5px 0px 0px #000;
}

.neo-shadow-sm {
    box-shadow: 3px 3px 0px 0px #000;
}

.neo-shadow-lg {
    box-shadow: 8px 8px 0px 0px #000;
}

.neo-border {
    border: 3px solid #000;
}

.text-stroke {
    -webkit-text-stroke: 2px black;
    text-shadow: 4px 4px 0px #000;
}

.text-stroke-sm {
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px 0px #000;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.mask-linear-fade {
    mask-image: linear-gradient(to right, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 85%, transparent 100%);
}